.device a {
  text-decoration: none;
  color: black;
}

.device-status {
  color: darkgrey;
  font-size: 0.8em;
}

.device-name {
  color: rgb(87, 85, 85);
}

.device-list {
  list-style-type: none;
  padding: 0;
}

.device-icon {
  display: flex;
  justify-content: center;
}

.grey-background {
  background-color: #dedfe7;
}

.info,
.link {
  font-size: 2rem;
}

a {
  cursor: pointer;
}
